{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="">
        {% if object.is_active %}
            Уверены, что хотите удалить продукт {{ object.name }}?
        {% else %}
            Уверены, что хотите восстановить продукт?
        {% endif %}
    </div>
    <form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Уверен">
    </form>
    <a href="{% url 'adminapp:product_list' object.category.pk %}" class="btn btn-success">Нет</a>
{% endblock %}
