{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="" style="padding: 20px">
    <form class="form-horizontal " action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        {% if next_param %}
            <input type="hidden" name="next" value="{{ next_param }}">
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Войти">
    </form>
        <hr>
        <a class="btn btn-link" href="{% url 'authapp:register' %}">Зарегистрироваться</a>
        <a class="btn btn-link" href="{% url 'mainapp:index' %}">На главную</a>
        <!--<a class="btn btn-link" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">Вход через VK</a>-->
         <a class="btn btn-link" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Вход через Google</a><br>
    </div>
{% endblock %}